<mat-card class="m-t-7 m-l-15 m-r-15">
    <div class="text-center">
        <h1>Iniciar Sesión</h1>
        <button (click)="test()">test</button>
    </div>
    <form [formGroup]="formNuevoUsuario" (ngSubmit)="registrarUsuario()">
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="20px" fxLayoutGap.xs="10px">
            <mat-form-field fxFlex appearance="outline" fxFlex="1 1 50%">
                <mat-label>Rut</mat-label>
                <input matInput formControlName="rut">
                <mat-error *ngIf="formNuevoUsuario.controls.email.invalid">{{getErrorMessage('rut')}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Correo Electronico</mat-label>
                <input matInput placeholder="email@example.com" formControlName="email">
                <mat-error *ngIf="formNuevoUsuario.controls.email.invalid">{{getErrorMessage('email')}}</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="1 1 50%">
                <mat-label>Fecha Naciento</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="fechaNacimiento">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="formNuevoUsuario.controls.email.invalid">{{getErrorMessage('fechaNacimiento')}}
                </mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="20px" fxLayoutGap.xs="10px">
            <mat-form-field fxFlex appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="nombre">
                <mat-error *ngIf="formNuevoUsuario.controls.email.invalid">{{getErrorMessage('nombre')}}</mat-error>
            </mat-form-field>

            <mat-form-field fxFlex appearance="outline">
                <mat-label>Apellido</mat-label>
                <input matInput formControlName="apellido">
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="20px" fxLayoutGap.xs="10px">
            <mat-form-field fxFlex appearance="outline">
                <mat-label>Ingrese un Usuario</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" autocomplete="off">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="formNuevoUsuario.controls.email.invalid">{{getErrorMessage('password')}}</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex appearance="outline">
                <mat-label>Repita el password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password2" autocomplete="off" (blur)="compararPassword($event)">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="formNuevoUsuario.controls.email.invalid">{{getErrorMessage('password2')}}
                </mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="30px" fxLayoutGap.xs="10px" fxLayoutAlign="end">
            <button mat-raised-button color="primary">
                Confirmar
            </button>
        </div>
    </form>
</mat-card>