<mat-toolbar color="primary">
  <a [routerLink]="['/home']">
    <!-- <mat-icon style="font-size: 7rem; margin-top: 5px">dashboard</mat-icon> -->
    <img src="../../../assets/img/darus-logo.png" class="w-5 w-8 m-t-1">
  </a>
  <div class="spacer"></div>
  <a mat-button routerLink="/Home">Home</a>
  <a mat-raised-button color="accent" (click)="login()" *ngIf="usuario === null">Login</a>
  <button mat-icon-button color="accent" [matMenuTriggerFor]="menuUsuario"  *ngIf="usuario != null">
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #menuUsuario="matMenu">
    <button mat-menu-item [routerLink]="['main']">Tienda</button>
    <button mat-menu-item [routerLink]="['usuario/perfil']">Editar Perfil</button>
    <button mat-menu-item [routerLink]="['administrador']" *ngIf="usuario != null && usuario.perfil === 5">Administrador</button>
    <button mat-menu-item (click)="cerrarSesion()">Cerrar Sesion</button>
  </mat-menu>
</mat-toolbar>