<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h3>Paginacion desde backend</h3>
            </mat-panel-title>
            <mat-panel-description>
                El Backend Obtiene solo parte de los datos
            </mat-panel-description>
        </mat-expansion-panel-header>
        <app-paginacion-back></app-paginacion-back>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h3 class="m-t-2">
                    Usuarios Front
                </h3>
            </mat-panel-title>
            <mat-panel-description>
                El backend obtiene la lista comleta
            </mat-panel-description>
        </mat-expansion-panel-header>
        <app-paginacion-front></app-paginacion-front>
    </mat-expansion-panel>
</mat-accordion>