<mat-drawer-container class="main-container" [hasBackdrop]="sidenavConfig.hasBackdrop.value">
    <mat-drawer #drawer  [mode]="sidenavConfig.mode.side" opened>
        <mat-nav-list>
            <mat-list-item>
                <a [routerLink]="[{ outlets: { administrador: ['administrarUsuario']}}]">Outlets</a>
            </mat-list-item>
            <mat-list-item>
                <a [routerLink]="['/home']">Home</a>
            </mat-list-item>
            <mat-list-item>
                <a [routerLink]="['/main']">Main</a>
            </mat-list-item>
        </mat-nav-list>
    </mat-drawer>

    <div class="sidenav-content">
        <button *ngIf="btnMenu" mat-icon-button (click)="drawer.toggle(); btnMenu = !btnMenu">
            <mat-icon>arrow_forward</mat-icon>
        </button>
        <button *ngIf="!btnMenu" mat-icon-button (click)="drawer.toggle(); btnMenu = !btnMenu">
            <mat-icon>arrow_back</mat-icon>
        </button>
    </div>
</mat-drawer-container>