<mat-card class="m-t-7 m-l-15 m-r-15">
        <div class="text-center">
            <h1>Editar Usuario</h1>
        </div>
        <form [formGroup]="formEditarUsuario" (ngSubmit)="actualizarUsuario()">
            <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="20px" fxLayoutGap.xs="10px">
                <mat-form-field fxFlex appearance="outline" fxFlex="1 1 50%">
                    <mat-label>Rut</mat-label>
                    <input matInput formControlName="rut" (blur)="test(formEditarUsuario)">
                    <mat-error *ngIf="formEditarUsuario.controls.email.invalid">{{getErrorMessage('rut')}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Correo Electronico</mat-label>
                    <input matInput placeholder="email@example.com" formControlName="email">
                    <mat-error *ngIf="formEditarUsuario.controls.email.invalid">{{getErrorMessage('email')}}</mat-error>
                </mat-form-field>
                <mat-form-field fxFlex="1 1 50%" appearance="outline">
                    <mat-label>Fecha Naciento</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="fechaNacimiento">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="formEditarUsuario.controls.email.invalid">{{getErrorMessage('fechaNacimiento')}}
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="20px" fxLayoutGap.xs="10px">
                <mat-form-field fxFlex appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="nombre">
                    <mat-error *ngIf="formEditarUsuario.controls.email.invalid">{{getErrorMessage('nombre')}}</mat-error>
                </mat-form-field>
    
                <mat-form-field fxFlex appearance="outline">
                    <mat-label>Apellido</mat-label>
                    <input matInput formControlName="apellido">
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="30px" fxLayoutGap.xs="10px" fxLayoutAlign="end">
                    <button mat-raised-button color="primary" (click)="eliminarUsuario()">
                        Dar de Baja
                    </button>
                <button mat-raised-button color="primary" [disabled]="!formEditarUsuario.valid">
                    Confirmar
                </button>
            </div>
        </form>
    </mat-card>